html {
	min-height: 100%;
	position: relative;
  }
  body {
	margin: 0;
	margin-bottom: 40px;
	display: inline-block;
  }
.logo {
	filter: drop-shadow(8px 8px 4px #50B792);
	
}
/*animacion maquina escribir */
.container {
  margin: auto;
  display: table;
}
	.container h2{
       float: center;
       position: relative;
	   text-align: center;
	}
	h2 span{
		position: absolute;
		right: 0;
		width: 0;
        background-color: #fff;
		animation: maquina 3s infinite alternate steps(50) ;
		}
		@keyframes maquina {
			from {
				width: 100%;
			}
			to {
				width: 0;
				}
				}
				footer {
					 
					position: absolute;
					bottom: 0;
					width: 100%;
					height: 40px;
					
				  }
.titulos {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	border-radius: 10px;
	margin-top: 10%;
	margin-left: 15%;
	margin-right: 15%;
	text-align: center;
	color: #f3f3f3;
	background-color: #242424;
	width: 70%;
	height: 55px;
}
 
.article {
	text-align: center;
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
}
 
.cards {
	
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
	
	  
}
.card {
	background-color: #d7d7d7;
	
}

.card-img-top {
	height: 100%;
    object-fit: contain;
}
.cardtitle{
 
	text-align: center;
}
.btn-dark{
	background-color: #242424;
	
}
.btn-dark:hover{
	filter: drop-shadow(8px 8px 4px #f14747);
}
 .zoom { 
	transition: transform .1;
}
.zoom:hover{
	transform: scale(1.2);
}
 
 
.flip-card {
	
	background-color: transparent;
	width: 300px;
	height: 200px;
	display: flex;
	align-items: flex-end;
	justify-content: left;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
	
	position: relative;
	width: 100%;
	height: 100%;
	text-align: left;
	transition: transform 0.8s;
	transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
	position: absolute;
	background-color: #242424;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width:300px;
	height:300px;
	border-radius: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
	
  }
  
  
  
  /* Style the back side */
  .flip-card-back {
	transform: rotateY(180deg);
  }

  /* Style nav */
.navbar{
	background-color:#242424;
	
}
.habilidades {
	border: red solid 2px;
	
}