/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
	background: radial-gradient(110.27% 68.56% at 50% 50%, #32337F 0%, #624398 25%, #32337F 49.48%, #503151 69.79%, #14143B 100%);
	 
}

/* Estilos de la barra de navegación */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.navbar {
	background-color: radial-gradient(110.27% 68.56% at 50% 50%, #32337F 0%, #624398 25%, #32337F 49.48%, #503151 69.79%, #14143B 100%);
}
/* Estilos de la sección de imagen de fondo */
.imagen-de-fondo {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
	min-height: 70vh;
    background-image: url('/img/prueba.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
	box-shadow: 0 0 50px rgb(245, 103, 238);
	 
}
 
.text-container {
    display: flex;
    flex-direction: column;  
    align-items: flex-start;  
    justify-content: flex-start;
	 margin-left: 0;
	color: #0986E0;
	text-shadow: white 2px 3px 5px;
	font-family: Roboto Mono;
	font-size: 3rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
     
}


/* Estilos de las secciones (About, Work, Skills) */
section {
    padding: 40px;
    text-align: center;
}
.py-5 {
    min-height: 100vh;
    box-shadow: 0 0 50px rgb(245, 103, 238);
}
.container h1 {
    color: #0986E0;
	text-shadow: white 2px 3px 5px;
	font-family: Roboto Mono;
	font-size: 3rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
.btn-dark{
	background-color: #242424;
	
}
.btn-dark:hover{
	filter: drop-shadow(8px 8px 4px #f14747);
}
/* Estilos del formulario de contacto */
form {
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
}

form input[type="text"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

/* Estilos del pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin-right: 10px;
}
.list-inline-item:hover {
    text-shadow: white 2px 3px 5px;
}
/* Estilos responsive */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin-bottom: 10px;
        margin-right: 0;
    }
	.text-container {
		color: #0986E0;
		font-size: 2rem;
	}
}
